<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазин</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Домашняя страница</a>
        <a href="{{ url_for('info') }}">О нас</a>
        <a href="{{ url_for('contacts') }}">Контакты</a>
    </nav>
    <h1>Мир вещей "Глобус"</h1>

    {% block content %}{% endblock %}


    <footer>
        <div>
            <p>Подвал проекта</p>
        </div>
    </footer>
</body>
</html>